@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,700&display=swap');

//-----variables
$Bg-gradient: linear-gradient(to bottom, hsl(214, 47%, 23%) 30%, hsl(237, 49%, 15%) 100%);
$Dark-text: hsl(229, 25%, 31%);
$Score-text: hsl(229, 64%, 46%);
$Header-outline: hsl(217, 16%, 45%);
$Font-main: 'Barlow Semi Condensed', sans-serif;

//-----mixins

@mixin shapeImage($img){
    background-image: url($img);
    background-repeat: no-repeat;
    background-position: center;
}

@mixin chosenShape($border-color, $outset-color, $img){
    display: block;
    border: 1rem solid $border-color;
    box-shadow: inset 0 .3rem #ccc7c7, 0px .4rem $outset-color;
    background-image: url($img);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
}

@mixin commonAnimationStyles($name, $duration){
    border-radius: 2px;
    position: absolute;
    width: 2px;
    height: 2px;
    animation: $name $duration 2 ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@mixin winnerAnimationMobile($top, $left){
    z-index: -1;
    top: $top;
    left: $left;
    @keyframes rip{
        0%  {
            box-shadow:0 0 0 0 transparent,
                       0 0 0 0 transparent;
          }
          15%  {
            box-shadow:0 0 0 2.5rem rgba(219, 216, 216, 0.144),
                    0 0 0 2.5rem transparent;
          }
          100% {
            box-shadow:0 0 0 8.5rem rgba(219, 216, 216, 0.048),
                       0 0 0 8.5rem transparent;          
          }
    }
    
}
@mixin winnerAnimations($top, $left){
    z-index: -1;
    top: $top;
    left: $left;

    @keyframes ripple{
        0%  {
            box-shadow:0 0 0 0 transparent,
                       0 0 0 0 transparent;
          }
          15%  {
            box-shadow:0 0 0 2.5rem rgba(219, 216, 216, 0.144),
                    0 0 0 2.5rem transparent;
          }
          100% {
            box-shadow:0 0 0 22.5rem rgba(219, 216, 216, 0.048),
                       0 0 0 22.5rem transparent;          
          }
    }
}
@mixin positionBorder($left){
    left: $left;
    top: 8.25rem;
    border-width: 1.5rem;
}
@mixin media-s{
    @media screen and (min-width: 450px){
        @content;
    }
}

@mixin media-lg{
    @media screen and (min-width: 1024px){
        @content;
    }
}

@mixin media-xl{
    @media screen and (min-width: 1340px){
        @content;
    }
}
