@include media-s {
    main .rules {
        height: 25rem;
        max-width: 25rem;
        border-radius: .5rem;
        padding: 1.25rem 1.5rem;
        background-position: 50% 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--flex {
            flex-direction: row;
            margin: initial;
            align-items: flex-start;
            height: initial;
        }

        &__btn {
            margin: initial;
            margin: 2.5% 0 0 auto;
        }
    }
}


@include media-lg {
    body .header{
        padding: .75rem 1.25rem;

        &__logo {
            padding: 0 .75rem 0 0;
    
            img {
                width: 100%;
            }
        }

        &__score {
            min-height: 7rem;
            min-width: 8.5rem;
            &__table {
                font-size: 4.25rem;
                line-height: .75;
                padding-top: .35rem;
            }
        }
    }
    main .select {
        margin: 10rem auto 1.5rem;
        justify-content: center;

        &__hand {
            width: 11.5rem;
            height: 11.5rem;
            background-size: 45%;

            &__paper {
                left: -20%;
                top: -4rem;
            }

            &__scissors {
                right: -20%;
                top: -4rem;
            }

            &__rock {
                bottom: -1.25rem;
                right: 4.4rem;
            }
        }
    }
    main .open-rules {
        width: 87.5rem;
        left: 50%;
        transform: initial;
        text-align: right;
        padding-right: 15%;

        .attribution{
            left: -0;
        }
    }
    body .battleground .select {
        margin-top: 9%;

        &--animation {
            @include commonAnimationStyles(ripple, 1.3s);
    
            &:before {
                @include commonAnimationStyles(ripple, 1.3s);
                animation-delay: .25s;

            }
    
            &:after {
                @include commonAnimationStyles(ripple, 1.3s);
                animation-delay: .5s;
            }
        }

        &__hand {
            width: 16rem;
            height: 16rem;
            @include positionBorder(-41%);
            transition: transform .75s ease-out;
            // .chosen stylings below are used for the placement of user choices
            &__paper.chosen-rock {
                @include positionBorder(-41%);
            }

            &__paper.chosen-scissors {
                @include positionBorder(-41%);
            }

            &__paper.chosen-paper {
                display: block;
            }
            &__paper::after{
                font-size: 1.8rem;
                top: -8rem;
                left: 2.25rem;
            }
            // .chosen stylings below are used for the placement of randomly computed choices (enemy)

            &__scissors.chosen-rock {
                @include positionBorder(62.5%);
            }

            &__scissors.chosen-paper {
                @include positionBorder(62.5%);

            }

            &__scissors.chosen-scissors {
                display: block;
                @include positionBorder(62.5%);
            }
            &--shadow {
                left: 70%;
                top: 9.75rem;
                width: 13rem;
                height: 13rem;
                transition: transform .75s ease-out;
                
                &::after{
                    font-size: 1.8rem;
                    top: -8rem;
                    left: -.1rem;
                }
            }
        }
    }
    html .results .select{
        &__win {
            @include winnerAnimations($top: 16.25rem, $left: -10.25rem);
            display: block;
        }
    
        &__lose {
            @include winnerAnimations($top: 16.25rem, $left: 30.5rem);
            display: block;
        }
        &__hand{
            &__paper.chosen-rock {
                transform: translateX(-10rem);

            }

            &__paper.chosen-scissors {
                transform: translateX(-10rem);

            }

            &__paper.chosen-paper {
                transform: translateX(-10rem);

            }

            // .chosen stylings below are used for the placement of randomly computed choices (enemy)

            &__scissors.chosen-rock {
                transform: translateX(10rem);


            }

            &__scissors.chosen-paper {
                transform: translateX(10rem);


            }

            &__scissors.chosen-scissors {
                transform: translateX(10rem);

            }
            &--shadow {
                transform: translateX(10rem);
            }
        }
        &__section{
            transition: transform 1s ease;
            margin-top: 9.5rem;
        }
    }
}

@include media-xl {
    main .open-rules {
        padding-right: 0;
    }
}