@import '_config.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: $Font-main;
    background-image: $Bg-gradient;
    color: $Dark-text;
}

.header {
    min-width: 250px;
    width: 85%;
    padding: .5rem;
    margin: 2.25rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .19rem solid $Header-outline;
    border-radius: .25rem;

    &__logo {
        padding: .75rem;

        img {
            width: 80%;
        }
    }

    &__score {
        min-height: 6.25rem;
        min-width: 6.75rem;
        background-color: #ffffff;
        border-radius: .25rem;
        padding-top: .75rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        color: $Dark-text;


        &__table {
            font-size: 3.5rem;
            line-height: .75;
        }
    }

}

.select {
    // background-image: url(dist/images/bg-triangle.svg);
    position: relative;
    background: url(../images/bg-triangle.svg) no-repeat center center;
    max-width: 20rem;
    min-height: 20rem;
    margin: 7.5rem auto 3.5rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

    &__hand {
        width: 9rem;
        height: 9rem;
        background-color: #e4e4e4;
        text-align: center;
        border-radius: 50%;

        &__paper {
            position: absolute;
            left: -5%;
            top: -3rem;
            border: 1rem solid hsl(230, 89%, 65%);
            box-shadow: inset 0 .3rem #ccc7c7, 0px .4rem hsl(230, 76%, 54%);
        }

        &__scissors {
            position: absolute;
            right: -4.5%;
            top: -3rem;
            border: 1rem solid hsl(40, 84%, 53%);
            box-shadow: inset 0 .3rem #ccc7c7, 0px .4rem hsl(39, 96%, 44%);
        }

        &__rock {
            position: absolute;
            bottom: 1.5rem;
            right: 5.2rem;
            border: 1rem solid hsl(349, 70%, 56%);
            box-shadow: inset 0 .3rem #ccc7c7, 0px .4rem hsl(349, 73%, 43%);
        }

        &--vertical-align {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        img {
            vertical-align: middle;
        }
    }

    &__section {
        display: none;
    }
}

.rules{
    background-color: #ffffff;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 3rem 1rem;
    background-image: url(../images/image-rules.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: none;

    &--flex{
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        height: 100%;
    }
    &__title{
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 600;
    }
    &__btn{
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        opacity: .75;
        cursor: pointer;
        width: 2rem;
        margin: 0 auto;

        //add rotateX
    }

}
.rules--display{
    display: block;
}
.open-rules{
    text-align: center;

    &__btn{
        padding: .75rem 2.25rem;
        background-color: transparent;
        color: #e4e4e4;
        border: .1rem solid #e4e4e4;
        text-transform: uppercase;
        border-radius: .5rem;
        letter-spacing: .15rem;
        cursor: pointer;
    }
}

.battleground .select{
    background-image: none;
}

.battleground .select__hand__rock{
    display: none;
}

.battleground .select__hand__scissors{
   visibility: hidden;
}
.battleground .select__hand__scissors::after{
    content: "";
    background-color: #1a2946;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    border-radius: 50%;
    visibility: visible;
}

.battleground .select__section{
    display: block;

    // position: absolute;
    // bottom: 1.5rem;
    // right: 5.2rem;

    &__title{
        font-size: 3.5rem;
        color: #ffffff;
        text-align: center;
        margin-bottom: 5%;
    }

    &__btn{
        padding: 1rem;
        border-radius: .5rem;
        background-color: #ffffff;
        color: $Header-outline;
        min-width: 13rem;
        border: none;
    }
}