@import '_config.scss';
@import '_responsive.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: $Font-main;
    background-image: $Bg-gradient;
    color: $Dark-text;
    overflow-x: hidden;
}

.header {
    width: clamp(15rem, 85vw, 37.5rem);
    padding: .5rem .75em;
    margin: 2.25rem auto 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .19rem solid $Header-outline;
    border-radius: .25rem;

    &__logo {
        padding: .75rem .75rem .75rem 0;

        img {
            width: 80%;
        }
    }

    &__score {
        min-height: 6rem;
        min-width: 7.25rem;
        background-color: #ffffff;
        border-radius: .25rem;
        padding-top: .75rem;
        display: flex;
        margin-left: auto;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        color: $Dark-text;


        &__table {
            font-size: 3.5rem;
            line-height: .75;
        }
    }

}

.select {
    position: relative;
    background: url(../images/bg-triangle.svg) no-repeat center center;
    max-width: 20rem;
    min-height: 20rem;
    margin: 10rem auto 3.5rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

    &__hand {
        width: 9rem;
        height: 9rem;
        background-color: #e4e4e4;
        text-align: center;
        border-radius: 50%;
        outline-color: transparent;
        position: absolute;
        cursor: pointer;

        &__paper {
            left: -5%;
            top: -3rem;
            border: 1rem solid hsl(230, 89%, 65%);
            box-shadow: inset 0 .3rem #ccc7c7, 0px .4rem hsl(230, 76%, 54%);
            @include shapeImage('../images/icon-paper.svg');
        }

        &__scissors {
            right: -4.5%;
            top: -3rem;
            border: 1rem solid hsl(40, 84%, 53%);
            box-shadow: inset 0 .3rem #ccc7c7, 0px .4rem hsl(39, 96%, 44%);
            @include shapeImage('../images/icon-scissors.svg');
            z-index: 1;
        }

        &--shadow {
            position: absolute;
            right: .1rem;
            top: -2rem;
            background-color: #192744;
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
        }

        &__rock {
            bottom: 1.55rem;
            right: 5.55rem;
            border: 1rem solid hsl(349, 70%, 56%);
            box-shadow: inset 0 .3rem #ccc7c7, 0px .4rem hsl(349, 73%, 43%);
            @include shapeImage('../images/icon-rock.svg');
        }
    }

    &__section {
        transform: scale(0);
    }
}

.rules {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 3rem 1rem;
    background: url(../images/image-rules.svg) no-repeat center;
    background-color: #ffffff;
    display: none;

    &--flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    &__title {
        text-transform: uppercase;
        font-size: 2.25rem;
        text-align: center;
    }

    &__btn {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        opacity: .75;
        width: 2rem;
        margin: 0 auto;
        transition: transform .35s ease-out;
        opacity: .5;
        cursor: pointer;

        &:hover {
            transform: rotate(180deg);
        }
    }
}

.rules--display {
    display: block;
}

.open-rules {
    text-align: center;
    max-width: 40.5rem;
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translateX(-50%);

    &__btn {
        padding: .75rem 2.25rem;
        background-color: transparent;
        color: #e4e4e4;
        font-weight: 600;
        border: .125rem solid #e4e4e4a4;
        text-transform: uppercase;
        border-radius: .5rem;
        letter-spacing: .15rem;
        cursor: pointer;

        &:hover {
            color: $Score-text;
        }
    }
    .attribution {
        font-size: .7rem;
        text-align: center;
        position: absolute;
        top: 4rem;
        left: 50%;
        color: $Dark-text;
        transform: translateX(-50%);
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
      
      .attribution a {
        color: hsl(228, 45%, 44%);
    
      }
}

.battleground .select {
    background-image: none;

    &--animation {
        @include commonAnimationStyles(rip, 1.15s);
        display: none;

        &:before {
            content: '';
            @include commonAnimationStyles(rip, 1.15s);
            animation-delay: .25s;
            top: 0;
            left: 0;
        }

        &:after {
            content: '';
            @include commonAnimationStyles(rip, 1.15s);
            animation-delay: .5s;
            top: 0;
            left: 0;
        }
    }

    &__hand {
        display: none;
        // .chosen stylings below are used for the placement of user choices
        &__paper.chosen-rock {
            @include chosenShape(hsl(349, 70%, 56%), hsl(349, 73%, 43%), '../images/icon-rock.svg');
            left: -5%;
            top: -3rem;
        }

        &__paper.chosen-scissors {
            @include chosenShape(hsl(40, 84%, 53%), hsl(39, 96%, 44%), '../images/icon-scissors.svg');
            left: -5%;
            top: -3rem;
        }

        &__paper.chosen-paper {
            display: block;
        }
        &__paper::after{
            content: 'YOU PICKED';
            color: #ffffff;
            z-index: 100;
            font-size: 1.1rem;
            position: absolute;
            white-space: nowrap;
            top: 10rem;
            left: 1rem;
        }
        // .chosen stylings below are used for the placement of randomly computed choices (enemy)

        &__scissors.chosen-rock {
            @include chosenShape(hsl(349, 70%, 56%), hsl(349, 73%, 43%), '../images/icon-rock.svg');
            right: -4.5%;
            top: -3rem;
            background-color: #e4e4e4;
        }

        &__scissors.chosen-paper {
            @include chosenShape(hsl(230, 89%, 65%), hsl(230, 76%, 54%), '../images/icon-paper.svg');
            right: -4.5%;
            top: -3rem;
            background-color: #e4e4e4;

        }

        &__scissors.chosen-scissors {
            display: block;
        }
        &--shadow {
            &::after{
                content: 'THE HOUSE PICKED';
                color: #ffffff;
                z-index: 100;
                font-size: 1.1rem;
                position: absolute;
                white-space: nowrap;
                top: 10rem;
                left: -.5rem;
            }
        }

    }
}

.results .select {
    &__win {
        @include winnerAnimationMobile($top: 1.55rem, $left: 3.375rem);
        display: block;
    }

    &__lose {
        @include winnerAnimationMobile($top: 1.55rem, $left: 16.25rem);
        display: block;
    }

    &__section {
        transition: transform .75s ease;
        transform: scale(1);

        &__title {
            font-size: 3.5rem;
            color: #ffffff;
            text-align: center;
            margin-bottom: 6%;
            text-transform: uppercase;
        }

        &__btn {
            padding: 1rem;
            border-radius: .5rem;
            background-color: #ffffff;
            color: $Header-outline;
            min-width: 13rem;
            border: none;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                color: $Score-text;
            }
        }
    }
}